.kpi-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  border: 3px solid brown;
  background-color: white;
  width: 300px;
}
.kpi {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.kpi-label {
  color: black;
}
.kpi-value {
  font-weight: bold;
  color: brown;
}
