.psf-row {
  display: flex;
  justify-content: start;
  gap: 5px;
  align-items: start;
}

.psf-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  min-width: 38px;
}

.psf-bar-wrap {
  height: 68px; /* REQUIRED */
  width: 10px;
  display: flex; /* REQUIRED */
  align-items: flex-end; /* REQUIRED */
  justify-content: center;
}

.psf-bar {
  width: 8px;
  display: block; /* IMPORTANT */
  background: rgba(122, 43, 43, 0.45);
  outline: 1px solid rgba(122, 43, 43, 0.55);
  border-radius: 2px;
}
.psf-strip {
  border: 3px solid brown;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.psf-title {
  color: brown;
  font-weight: bold;
  font-size: 16px;
}
