.user-selection {
  pointer-events: none;
  position: absolute;
  left: 24px;
  right: 24px;
  bottom: 50px;
  z-index: 10;
  pointer-events: auto;
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 3px solid brown;
  background-color: white;
}
.views {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
