.HUD {
  position: absolute;
  right: 50px;
  top: 50px;
  text-align: left;
  width: 250px;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.date {
  font-weight: bold;
  font-size: 24px;
}
.unit-data {
  font-size: 18px;
  color: brown;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 10px;
  padding-top: 10px;
}
.leased-units {
  border: 4px solid brown;
  padding: 10px;
  height: 300px;
  overflow-y: auto;
}
.unit-detail {
  border: 4px solid brown;
  padding: 10px;
  font-size: 16px;
}
.value {
  font-weight: bold;
  color: brown;
}
.unit-detail-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
