.HUD {
  position: absolute;
  right: 50px;
  top: 50px;
  text-align: left;
  width: 250px;
  pointer-events: none;
}
.date {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}
.unit-data {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: brown;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 10px;
  padding-top: 10px;
}
